{% extends 'traps/basetemplate.html' %}

{% block title %}
    <title>trap-home</title>
{% endblock %}


{% block content %}
    <h1>Titre de la page</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt, nisl vel volutpat
                malesuada, metus quam sodales lorem, in viverra dolor magna at odio. Duis vestibulum mauris
                vel urna tincidunt, vel mollis odio rhoncus. Proin ac dui id sapien maximus ultricies.
                Aenean vitae arcu ultricies, consequat mi sed, finibus libero. Nam in fermentum orci,
                et consequat mauris. Sed tristique velit vitae convallis placerat. Fusce a purus odio.
                Nulla vitae dapibus ipsum, sit amet aliquet ipsum. Curabitur fringilla orci at ligula
                placerat mollis. Donec vehicula euismod felis, ut venenatis libero lacinia vel.
                Maecenas vestibulum metus eget nisi vehicula, non venenatis quam viverra.
                Aliquam posuere mi eget eros commodo, sit amet tincidunt purus efficitur.
                Phasellus lacinia nisi id felis lobortis, in aliquet odio vestibulum.
                Integer vel vehicula urna. Vestibulum congue lacus vel nunc feugiat, a tristique ipsum auctor.
            </p>
            <p>
                Sed tincidunt mi at enim tempor, non tincidunt leo auctor. Morbi non turpis a libero
                posuere congue. Nullam ultrices tellus sed odio fringilla, sit amet dictum velit lacinia.
                Integer facilisis elit quis arcu euismod, quis luctus metus hendrerit. In hac habitasse platea
                dictumst. Phasellus congue ligula ut enim hendrerit ullamcorper. Pellentesque at tortor a
                orci consectetur dapibus nec non libero. Nulla facilisi. Fusce sit amet ex vel felis fringilla
                pellentesque in at magna. Ut rutrum efficitur augue, eget dapibus est condimentum at.
                Vestibulum volutpat massa quis eros vestibulum, id sollicitudin ligula accumsan.
                Mauris eget mi nec libero volutpat gravida. Nulla vel cursus ex. Proin ac libero nec eros
                lobortis scelerisque nec eu odio.
            </p>
            <p>
                Maecenas gravida neque eu lorem fermentum, eu tempus odio malesuada. Morbi volutpat
                turpis nec sapien placerat, vitae ultrices neque commodo. In hac habitasse platea
                dictumst. Phasellus volutpat massa libero, vitae molestie elit malesuada at. Praesent
                feugiat quam vel nulla consequat, non bibendum ex dictum. Fusce sollicitudin sem
                non tincidunt tempus. Nulla facilisi. Aenean vestibulum augue id elit iaculis, non
                malesuada orci vehicula. Nam euismod tempus nulla eget commodo. Duis eleifend ipsum
                nec est consectetur bibendum. Phasellus non mi accumsan, volutpat ipsum non, efficitur
                magna. Integer in mi quis magna vehicula viverra. Ut auctor elit quis libero sodales
                convallis.
            </p>
            <p>
                Duis eget libero nec enim congue eleifend. Integer et nisl in purus consectetur
                cursus. Nam ut diam vel nisi fermentum pharetra ac quis risus. Etiam molestie
                viverra arcu nec tincidunt. Nullam aliquet urna eu nisi tempor, in tincidunt tortor
                dapibus. Vivamus aliquam leo sed consequat accumsan. Nulla facilisi. Fusce iaculis
                euismod dolor id consequat. Nulla facilisi. Aenean suscipit fringilla turpis, eget
                facilisis libero placerat a. Morbi nec eros ut odio bibendum tempus.
            </p>

{% endblock %}

